<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <nav>
        <div>
          {{#if user}}

            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/auth/logout">Logout</a>

          {{else}}
            <a href="/"></a>
            <a href="/login"></a>
            <a href="/register"></a>
          {{/if}}
        </div>
      </nav>

    </header>
    {{{body}}}
  </body>
</html>