<a href="/">
  <h2>Tech Blog</h2>
</a>

<form action="/post" method="post">
  <h4>Create new post</h4>

  {{#each errors}}
    <p>{{this}}</p>
  {{/each}}

  <div>
    <input type="text" name="title" id="" required>
    <label for="username">Title</label>
  </div>

  <div>
    <input type="text" name="content" required>
    <label for="password">Content</label>
  </div>

  <div>
    <button type="submit">Create</button>
  </div>

</form>