<a href="/" class="logo">
  <h2 >Tech Blog</h2>
</a>

<form action="/comment" method="post" >
  {{#each errors}}
    <p class="error-message">{{this}}</p>
  {{/each}}

  <div class="input-group">
    <input type="text" name="comment" id="comment" required />
    <label for="comment" class="input-label">Comment</label>
  </div>

  <div class="button-group">
    <button type="submit" class="submit-button">Submit</button>
  </div>
</form>